body {
    width: 100%;
}

.navbar{
    overflow: hidden;
    background-color: #F1F3F5;
    top: 10; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
	/* font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; */
	/* font-family:  "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif; */
    font-family: "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;

    font-size: 15px;
    line-height: 30px;
    font-color:red;
    }


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  overflow: hidden;
  position: fixed;
  background-color: #F1F3F5;
  top: 10;
  width: 100%;

}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    color:#333;
}

a.nav-link{
    color:black;

}


a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
/*h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}*/

/*h4 {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

h5 {
    font-size: 0.8em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
}*/

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.date
{
    vertical-align:top;
    font-size: 1em;
    color:gray;
    font-family: "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    padding:0 15px;
}

.milestone
{
    vertical-align:top;
    font-size: 1.2em;
    color:#333;
    font-family: "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;

}

.table{
    border-spacing: 0 1em;

}

.gray_button {
  background-color: #F1F3F5;
  border: none;
  color: gray;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  margin: 1px 1px;
  cursor: pointer;
}