<!DOCTYPE html>
	<html>
		<head>
			<!--to analyse visitors-->
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-F7X6CG77BX"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'G-F7X6CG77BX');
			</script>

			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="css/main.css">

		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/education">Education</a></li>
	        		<li><a href="/work">Experience</a></li>
	        		<li><a href="/projects">Projects</a></li>
					<li><a href="/pdf cv">pdf CV</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:andronikova.daria@gmail.com">email</a></li>
	        		<li><a href="https://github.com/andronikova">github.com/andronikova</a></li>
				</ul>
			</footer>
		</body>
	</html>